body {
  background-color: #f5f5f5;
}
.app {
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 100vh;
}


h1 {
  font-size: 2.375rem;
  text-align: center;
}

h2 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.375rem;
  margin-bottom: 10px;
}
